button {
    font: inherit;
	outline: none;
	border:none;
	background-image:none;
	background-color:transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	font-size: inherit;
}

input {
	outline: none;
	border:none;
	background-image:none;
	background-color:transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	font-size: inherit;
}

.product-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; /* Центрируем элементы по вертикали */
    border: 1px solid #000; /* Черная рамка */
    border-radius: 5px; /* Закругляем углы */
    padding: 10px; /* Добавляем внутренние отступы */
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
}

.product-container img {
    width: 200px; /* Задаем ширину изображения */
    height: auto; /* Автоматическое определение высоты */
    border-radius: 5px; /* Закругляем углы изображения */
    margin: 0 30px; /* Добавляем отступы по бокам */
}

.product__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Выравнивание по левому краю */
    color: #000; /* Черный цвет текста */
}

.product__title {
    color: #000;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.5em;
}


.product__original-price {
    text-decoration: line-through;
}

.product__field {
    text-align: left;

}

.product__fields {
    font-weight: bold;
    font-size: large;
}

.product__price-container {
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: bold;
    font-size: medium;
}

.product__prices-heading {
    margin-bottom: 0.5em;
}

.product__add-to-basket-form {
    margin-bottom: 1em;
}

.product__add-to-basket-button {
    display: block;
    margin-left: 0; /* Устанавливаем отступ слева в 0 */
    padding: 0.3em;
    outline: 1px solid black;
    border-radius: 0.3em;
}

.product__add-to-basket-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.product__add-to-basket-button[disabled]:hover {
    background-color: transparent;
    cursor: not-allowed;
}

main {
    height: 85%;
    padding: 10px;
}


